form .vmark {
  position: absolute;
  display: none;
  box-sizing: border-box;
  top: 15px;
  left: 18px;
  border-radius: 10px;
  z-index: 4; }
  form .vmark.required {
    display: block;
    height: 10px;
    width: 10px;
    border: 0;
    background: #F2C53D; }
  form .vmark.optional {
    display: block;
    width: 11px;
    height: 11px;
    border: 2px dotted #C1C1C1;
    background: #FAF8F8; }
  form .vmark.required + input, form .vmark.optional + input {
    padding-left: 40px; }
  form .vmark.right {
    left: auto;
    right: 18px; }
    form .vmark.right.required + input, form .vmark.right.optional + input {
      padding-left: 15px; }
form .has-success .vmark {
  background: #5FDBCA;
  border: 0; }
form .has-error .vmark {
  background: #D82150;
  border: 0; }

form {
  display: block;
  padding: 0;
  margin: 0;
  width: 50%; }
  form fieldset {
    margin: 0;
    padding: 0;
    border: 0; }
    form fieldset legend {
      font-weight: bold; }
  form input,
  form textarea {
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #C1C1C1;
    background: white;
    outline: none;
    resize: none; }
    form input:focus,
    form textarea:focus {
      border: 1px solid #929292; }
  form .row {
    position: relative;
    display: block;
    margin-bottom: 12px; }
    form .row.has-error input {
      border: 1px solid #D82150 !important; }
    form .row.has-error .form-error {
      display: block;
      font-size: .9em;
      color: #D82150;
      padding: 12px 12px 0; }
  form.hide-validation-messages .row.has-error .form-error {
    display: none; }
